<nav class="navbar navbar-expand-lg esp">
            <div class="container">
                <div class="col-md-3 d-flex justify-content-start">
                    <a href="/" class="cf-1 w-700 tf-25"><i class="fa fa-paw tf-35"
                            style="color: #4a7941"></i>&nbsp;&nbsp;ONG</a>
                </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class=" menu-borda navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a>&nbsp;</a></li>
                    <li class="nav-item">
                        <a class="nav-link cf-1" href="adote">Adote</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cf-1" href="cad">Registrar pet</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle cf-1" data-bs-toggle="dropdown" href="#" role="button"
                            aria-expanded="false">Como Ajudar</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item cf-1" href="voluntario">
                                    <i class="">Seja voluntário</i></a>
                            </li>
                            <li>
                                <a class="dropdown-item cf-1" href="#">
                                    <i class="">Faça uma doação</i></a>
                            </li>
                            <li>
                                <a class="dropdown-item cf-1" href="#">
                                    <i class="">Divulgue a iniciativa</i></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="ajudando" class="nav-link cf-1" href="#galeria">Voluntários</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle cf-1" data-bs-toggle="dropdown" href="#" role="button"
                            aria-expanded="false">Sobre a ONG</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item cf-1" href="/sobre">
                                    <i class="">Sobre a ONG</i></a>
                            </li>
                            
                        </ul>
                    </li>
                </ul>
                <div class="col-md-1"></div>
                 <div class="col-md-2 d-flex justify-content-between">
                    <a href=""><img class="icone-fundo" src="../content/phone.svg" alt="" /></a>
                    <a href=""><img class="icone-fundo" src="../content/ig.svg" alt="" /></a>
                    <a href=""><img class="icone-fundo" src="../content/mail.svg" alt="" /></a>
                </div>
              </div>
            </div>
          </nav>