<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Sobre nós</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="cf-2 w-700 txt-mob">Sobre nós</h1>
        <h3 class="cf-2 w-700 txt-mob">Resgate Animal em cidade tal tal tal</h3>
        <p>Seja bem-vindo à Resgate Animal Balneário Camboriú, uma organização sem fins lucrativos dedicada ao acolhimento e doação de animais, com um foco especial em cães e gatos. Nossa missão é proporcionar uma segunda chance de vida para esses seres incríveis, garantindo-lhes amor, cuidado e um lar afetuoso.</p>
        <div class="divide30"></div>
        <h3 class="cf-2 w-700 txt-mob">Nossa História</h3>
        <p class="">Fundada em [ano de fundação], nossa ONG surgiu da paixão compartilhada por membros da comunidade de Balneário Camboriú, que acreditavam que cada vida, humana ou animal, merece respeito e compaixão. Iniciamos nossos esforços com o intuito de enfrentar os desafios enfrentados por animais abandonados e maltratados na região.</p>
        <div class="divide30"></div>
        <h3 class="cf-2 w-700 txt-mob">Missão</h3>
        <p>Nosso propósito é claro: resgatar, reabilitar e encontrar lares amorosos para cães e gatos desamparados. Trabalhamos incansavelmente para proporcionar cuidados veterinários abrangentes, incluindo vacinação, esterilização e tratamento de condições médicas, assegurando que cada animal sob nossa tutela tenha a melhor chance possível de uma vida feliz e saudável.</p>
        <div class="divide30"></div>
        <h3 class="cf-2 w-700 txt-mob">Compromisso com a comunidade</h3>
        <p>Além de nosso trabalho direto com os animais, temos um compromisso sólido com a sensibilização e educação na comunidade. Organizamos eventos, palestras e campanhas de conscientização para promover a adoção responsável, o bem-estar animal e a importância da esterilização. Acreditamos que a mudança começa com a educação e, assim, trabalhamos para criar uma comunidade mais compassiva em relação aos nossos amigos de quatro patas.</p>
        <div class="divide30"></div>
        <h3 class="cf-2 w-700 txt-mob">Adoção Responsável</h3>
        <p>Acreditamos que encontrar um lar amoroso é um passo vital na jornada de cada animal. Portanto, dedicamos tempo e esforços para garantir que as adoções sejam responsáveis e bem-sucedidas. Realizamos entrevistas, verificamos as condições dos lares adotivos e oferecemos suporte contínuo para garantir que tanto os animais quanto as famílias adotivas prosperem juntos.</p>
        <div class="divide30"></div>
        <h3 class="cf-2 w-700 txt-mob">Como você pode ajudar</h3>
        <p>Nossa missão é possível graças ao apoio generoso de indivíduos e empresas locais. Seja através de doações financeiras, voluntariado ou simplesmente espalhando a mensagem, cada contribuição faz a diferença. Se você compartilha nossa paixão pela causa animal, há várias maneiras de se envolver e fazer parte dessa jornada de compaixão.

Junte-se a nós na Resgate Animal Balneário Camboriú enquanto trabalhamos para construir um futuro onde todos os animais possam desfrutar de uma vida cheia de amor, dignidade e respeito. Juntos, podemos fazer a diferença, uma pata de cada vez.</p>
    </div>
</body>
</html>