<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Ajudar</title>
</head>
<body class="body">
     <div class="divide100"></div>
        <div class="container">
            <div class="col-md-6">
                <form action="cadVol" method="POST">
                    <div class="mb-3">
                        <label for="" class="">Nome</label>
                        <input type="text" name="nome" class="form-control" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="" class="form-label">E-mail</label>
                        <input type="email" name="email" id="" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Telefone/Whatsapp</label>
                        <input type="text" name="numero" id="" class="form-control" required>
                    </div>
                    <button class="btn btn-outline-success" type="submit">Submeter voluntariado</button>
                </form>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>