<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Menu</title>
</head>
<body class="body">
     <div class="divide100"></div>
        <div class="container">
            <div class="">
                <div class="esp50mobile"></div>
                <div class="esp50mobile"></div>
                <p class="cf-2 tf-20 w-700 txt-mob">Ajudar um animal é uma forma<br><span class="tf-25 w-700">de colaborar com um mundo mais justo!</span></p>
                <button class="cf-3 w-500 botao btn-success"><a href="adote" class="cf-3">QUERO ADOTAR</a></button>
                <button class="cf-3 w-500 botao2 btn-success"><a href="voluntario" class="cf-3">QUERO AJUDAR</a></button>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>